<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.am_lab">
    <!-- Allows applications to access information about networks. Protection level: normal -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Allows applications to open network sockets. Protection level: normal -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Pref"
        android:usesCleartextTraffic="true">
        <activity android:name=".View.LedScreenActivity"
            android:label="Led Panel"/>
        <activity android:name=".View.ImuGraphsActivity"
            android:label="Graphs RPY"/>
        <activity android:name=".View.JoystickActivity"
            android:label="Joystick"/>
        <activity android:name=".View.SensorGraphsActivity"
            android:label="Graphs THP"/>
        <activity android:name=".View.SettingsActivity"
            android:label="Settings"/>
        <activity android:name=".View.DynamicListActivity"
            android:label="List View">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>